@charset "UTF-8";

@font-face {
    font-family: 'minecraft';
    src: url("../fontes/Minecraftia-Regular.ttf");
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'minecraft';
    margin: auto;
}

body {
    background: rgba(0, 0, 0, 0.8) url(../imagens/brick.png);
    background-blend-mode: darken; /* Vi no yt: https://www.youtube.com/watch?v=RCvh0pmow_A */
}

header {
    background-image: linear-gradient(to bottom, brown, rgb(94, 0, 0));
    padding: 0px;
    margin-bottom: 20px;
    padding-top: 20px;
}

header h1 {
    text-align: center;
}

header img {
    display: block;
    margin: auto;
    text-align: center;
}

main {
    background-color: white;
    margin: auto;
    width: 1300px;
}

section#midias-sociais {
    display: block;
    text-align:left;
    position: fixed;
    margin: 10px;

    background-color: brown;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(133, 35, 35);
}

section#midias-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-sizing: border-box;
}

section#midias-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
    transition: transform 0.5s;
}

section#branco {
    margin: auto;
    background-color: white;
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 30px;

    width: 1300px;
    margin-bottom: 30px;
    border-radius: 10px 10px 10px 10px;
}

section#branco h1 {
    text-align: center;
    background-color: darkgrey;
    padding-top: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    width: none;
    height: 40px;
}

section#branco p {
    text-align: center;
    line-height: 1.5em;
    background-color: rgb(255, 255, 255);
    padding: 25px;
}

section#branco img {
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.555);
}

section#vermelho {
    margin: auto;
    background-color: brown;
    text-align: center;
    color: white;
    font-size: 1.2em;

    width: 1300px;
    margin-bottom: 30px;
    border-radius: 10px 10px 10px 10px;
}

section#vermelho h1 {
    background-color: rgb(212, 57, 57);
    text-align: center;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    width: none;
    height: 40px;
}

section#vermelho p {
    text-align: center;
    background-color: brown(212, 57, 57);
    padding: 25px;
}

section#vermelho img {
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.555);
}

section#videosmaisvisto {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    
    width: 800px;
    height: 400px;
    padding: 50px;

    border-radius: 30px;
    background-color: gray;
    /* box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.555); */
}

section#videosmaisvisto p {
    background-color: gray;
    padding: 20px;
}

section#ultimovideo {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    
    width: 600px;
    height: 400px;
    padding: 30px;

    border-radius: 30px;
    background-color: gray;
}

section#ultimovideo p {
    background-color: gray;
    padding: 20px;
    font-family: 'minecraft';
    font-weight: bolder;
}

footer {
    background-color: black;
    color: white;
    text-align: center;

    height: 20px;
}